/* Footer
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */

footer {
	@include clear;

	width: 100%;
	min-width: 320px;
	padding: 8px 0 4px;
	text-align: left;
	background: rgba($c-grey, .8);
	position: relative;
	bottom: 0;
	border-top: 1px solid $c-green;
	box-shadow: 0 0 4px #999;
	z-index: 99;
	backdrop-filter: blur(5px);

	ul {
		margin: 0 20px;
	}

	li {
		display: inline;
		float: left;
		margin-right: 40px;

		i {
			color: $c-green;
		}
	}

	@media (height >= 606px) {
		position: fixed;
	}
}

.credits {
  font-style: italic;
  font-weight: bold;
}

