<footer>
  <div class="container">
    <p>Version: {{ version }}</p>
    <p>Last site build: {{ stats.atime | UTCdate }}</p>
    <p class="credits">
      Build with help of the static website generator <a href="https://metalsmith.io" target="_blank">metalsmith</a>.
    </p>
  </div>
</footer>
