{% import "../macros/components.njk" as components %}


<footer class="footer">
  <p class="credits">
    Build with help of the static website generator <a href="https://metalsmith.io" target="_blank">metalsmith</a>.
  </p>
  <p>Version: {{ version }} &mdash; Last site build: {{ stats.atime | UTCdate }}</p>
  <div class="footer-container container">
    <ul>
      <li>
        <a href="https://stackoverflow.com/users/4375061/andr%C3%A9-kelling?tab=profile" target="_blank" rel="noopener" title="on stackoverflow" class="stackoverflow">
          {{ components.icon("stack-overflow") }}
        </a>
      </li>
      <li class="h">
        <a href="https://github.com/AndreKelling" target="_blank" rel="noopener" title="on github" class="github">
          {{ components.icon("mark-github") }}
        </a>
      </li>
      <li class="h">
        <a href="https://www.linkedin.com/in/andr%C3%A9-kelling/" target="_blank" rel="noopener" title="on linkedin" class="linkedin">
          {{ components.icon("linkedin-square") }}
        </a>
      </li>
      <li class="h">
        <a href="https://www.xing.com/profile/Andre_Kelling" target="_blank" rel="noopener" title="on xing" class="xing">
          {{ components.icon("xing") }}
        </a>
      </li>
      <li class="footer-container__links">
        <i class="icon-gavel" aria-hidden="true"></i>
        <a href="/imprint/" title="Imprint">
          Imprint
        </a>
        <a href="/about/" title="&">
          &
        </a>
        <a href="/agb/" title="AGB">
          AGB
        </a>
      </li>
    </ul>
  </div>
</footer>
