<footer>
  <div class="container">
    <p>Version: {{ version }}</p>
    <p>Last site build: {{ stats.atime | UTCdate }}</p>
    <p class="copyright">
      © 2023 - Build with Metalsmith
    </p>
  </div>
</footer>
