<header>
  <div class="wrapper">
    <a href="{{ basePath }}" class="logo" title="home">
      {% include "partials/header-logo.njk" %}
    </a>
  </div>

  {% include "partials/nav.njk" %}
</header>
