<footer>
  <div class="container">
    <p>Metalsmith version: {{ msVersion }}</p>
    <p>Node version: {{ nodeVersion }}</p>
    <p class="copyright">
      © {{ "" | thisYear }} - Build with Metalsmith
    </p>
  </div>
</footer>