$c-white: #fff;
$c-white2: #fefefe;
$c-whiteBG: #FDFFFA;

$c-green: #A2BC86;
$c-lightgreen: #A0B882;
$c-darkgreen: #8A9478;

$c-turkey: #73c2aa;

$c-gold: #E8AD00;
$c-lightorange: #FF9D4F;
$c-orange: #e5662f;

$c-lightgrey: #eee;
$c-middlegrey: #888;
$c-grey: #555;
$c-lightblack: #333;

$c-svg-black: #1D1D1B;

$c-lightpurple: #b648f1;
$c-purple: #5a5499;