@font-face {
    font-family: 'work_sans';
    src: url('/assets/fonts/worksans/worksans-regular-webfont.woff2') format('woff2'), url('/assets/fonts/worksans/worksans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'work_sans';
    src: url('/assets/fonts/worksans/worksans-bold-webfont.woff2') format('woff2'), url('/assets/fonts/worksans/worksans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$f-main: 'work_sans', helvetica, arial sans-serif;
$f-cookie: 'Cookie', georgia, sans-serif;
$fw-bold: bold;
