/* Tools
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/
.animation {
	transition: all 300ms ease-in-out;
}

.clickable {
	cursor: pointer;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.fw {
	width: 100%;
}

.nowr {
	white-space: nowrap;
}