<!doctype html>
<html class="no-js" lang="en">

  <head>
    {% include "partials/head.njk" %}
  </head>

  <body class="{{ bodyClass }}">

    {% include "partials/header.njk" %}

    <main id="main">
      <h1>{{ title }}</h1>
      {% block body %}
        {# will be replaced by page content #}
      {% endblock %}

      {% if bodyClass == "home" %}
        {% include "partials/filesizes.njk" %}
      {% endif %}
    </main>

    {% include "partials/footer.njk" %}
  </body>
</html>
