{% import "./macros/components.njk" as components %}

{% extends "layout.njk" %}

{% block body %}
  <div class="wrapper">
    <h1>{{ seo.title }}</h1>
    <h2>{{ seo.description }}</h2>

    <ak-slider>
      <h3>{{ project.slides[0].title }}</h3>
      <img
        src="{{ imagePath }}{{ project.slides[0].image }}-md.{{ project.slides[0].ext }}"
        srcset="{{ imagePath }}{{ project.slides[0].image }}-lg.{{ project.slides[0].ext }} 2x"
        alt="{{ project.slides[0].title }}"
      >

      <nav class="slider--pager">
        {% for slide in project.slides %}
          <span
            data-image="{{ imagePath }}{{ slide.image }}-md.{{ slide.ext }}"
            data-image2x="{{ imagePath }}{{ slide.image }}-lg.{{ slide.ext }}"
            data-image-title="{{ slide.title }}"
            title="Show {{ slide.title }}"
            role="button"
          >
          <img src="{{ imagePath }}{{ slide.image }}" alt="{{ slide.title }}">
        </span>
        {% endfor %}
      </nav>
    </ak-slider>

    <div class="details">
      {{ components.details("wrench", "Techs", project.usedTechnic) }}
      {{ components.details("file-o", "Format", project.format | safe) }}
      {{ components.details("clock-o", "Year", project.year) }}
    </div>

    <div class="text">
      {{ contents | safe }}
    </div>
  </div>
{% endblock %}
