{% extends "layout.njk" %}

{% block body %}
  <div class="wrapper {{ wrapperClass }}">
    <h1>{{ seo.title }}</h1>
    {% if seo.description %}
      <h2>{{ seo.description }}</h2>
    {% endif %}

    {{ contents | safe }}
  </div>
{% endblock %}
