
$icon-icon-clock-o-width: 27px;
$icon-icon-clock-o-height: 32px;
$icon-icon-file-o-width: 27px;
$icon-icon-file-o-height: 32px;
$icon-icon-linkedin-square-width: 24px;
$icon-icon-linkedin-square-height: 28px;
$icon-icon-mark-github-width: 32px;
$icon-icon-mark-github-height: 32px;
$icon-icon-stack-overflow-width: 27px;
$icon-icon-stack-overflow-height: 32px;
$icon-icon-wrench-width: 30px;
$icon-icon-wrench-height: 32px;
$icon-icon-xing-width: 25px;
$icon-icon-xing-height: 32px;

.icon-clock-o {
  width: $icon-icon-clock-o-width;
  height: $icon-icon-clock-o-height;
}

.icon-file-o {
  width: $icon-icon-file-o-width;
  height: $icon-icon-file-o-height;
}

.icon-linkedin-square {
  width: $icon-icon-linkedin-square-width;
  height: $icon-icon-linkedin-square-height;
}

.icon-mark-github {
  width: $icon-icon-mark-github-width;
  height: $icon-icon-mark-github-height;
}

.icon-stack-overflow {
  width: $icon-icon-stack-overflow-width;
  height: $icon-icon-stack-overflow-height;
}

.icon-wrench {
  width: $icon-icon-wrench-width;
  height: $icon-icon-wrench-height;
}

.icon-xing {
  width: $icon-icon-xing-width;
  height: $icon-icon-xing-height;
}

